.language-list-container{
    z-index: 300;
    border: 1px solid black;
    
    padding: 0px;
    margin: 0px;
    
    .language-list{
        display: grid;
        grid-template-columns: repeat(6, 210px);
        padding: 0px;
        margin: 0px;
        width: 1280px;
        height: 720px;
        .language-list__item{
            display: flex;
            justify-content: start;
            align-items: center;
            width: 210px;
            height: 40px;
            margin: 1px 0px 1px 20px;
            font-size: 14px;
            &:hover{
                background-color: rgba(0, 0, 0, 0.055);
                cursor: pointer;
            }
        }

    }
}