@mixin list {
    .translate-list{
        list-style: none;
        display: flex;
        padding: 0px;
        margin: 0px;
        height: 100%;
        .list__item--target{
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 3px solid #1a73e8;
            margin-left: 35px;
            margin-top: 0;
            height: 100%;
            padding: 0px 20px 0px 20px;
            &:hover{
                cursor: pointer;
                background-color: #1a73e80a;
            }
            .list__text{
                color: #1a73e8;
                margin: 0px;
            }
        }
        .list__item{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 0px 20px 0px 20px;
            &:hover{
                cursor: pointer;
                background-color: #3c404310;
            }
            .list__text{
                margin: 0px;
            }
        }
    }
    
    
}
@mixin navbar {
    border: 1px solid rgba(0,0,0,0.12);
    width: 50%;
    height: 100%;
}

.body-translate-container{
    display: flex;
    flex-direction: column;
    height: 225px;
    width: 1280px;
    border-radius: 8px;
    .translate-header{
        display: flex;
        height: 50px;
        border: 1px solid rgba(0,0,0,0.12);
        width: 100%;
        border-radius: 8px;
        .translate__left-navbar{
            @include navbar;
            @include list;
        }
        .translate__right-navbar{
            @include navbar;
            @include list;
        }
    }
    .translate-body{
        display: flex;
        border: 1px solid rgba(0,0,0,0.12);
        width: 100%;
        height: 175px;
        margin: 0px;
        padding: 0px;
        border-radius: 8px;
        .translate__text-to-translate{
            border: 1px solid rgba(0,0,0,0.12);
            width: 50%;
            border-top: none;
            
            .translate__textarea{
                font-size: 30px;
                height: 100%;
                width: 100%;
                padding: 0px;
                margin: 0px;
                resize: none;
                border: 1px solid rgba(0,0,0,0.12);
                border-right: none;
                border-left: none;
                border-top: none;
                &:focus{
                    outline: none;
                }
            }
        }
        .translate__traduction{
            border: 1px solid rgba(0,0,0,0.12);
            width: 50%;
        }
    }
}
