@mixin list {
    .translate-list{
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0px;
        margin: 0px;
        height: 100%;
        font-size: 14px;
        color: #5f6368;
        letter-spacing: -.0178571429em;
        .list__item--target{
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 3px solid #ffffff;
            margin-top: 0;
            height: 100%;
            padding: 0px 20px 0px 15px;
            transition: opacity 150ms linear;
            &:hover{
                cursor: pointer;
                background-color: #1a73e80a;
            }
            &.active{
                border-bottom: 3px solid #1a73e8;
                color: #1a73e8;
            }
            .list__text{
                margin: 0px;
                text-transform: uppercase;
            } 
        }
        .list__item--source{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 0px 20px 0px 15px;
            border-bottom: 3px solid #ffffff;
            &:hover{
                cursor: pointer;
                background-color: #3c404310;
            }
            &.active{
                border-bottom: 3px solid #1a73e8;
                .list__text{
                    color: #1a73e8;
                } 
            }
            .list__text{
                margin: 0px;
                text-transform: uppercase;
            }
        }
        .list__item--extra{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 0px 20px 0px 15px;
            border-bottom: 3px solid #ffffff;
            &:hover{
                cursor: pointer;
                background-color: #3c404310;
            }
            &.active{
                border-bottom: 3px solid #1a73e8;
                .list__text{
                    color: #1a73e8;
                } 
            }
            .list__text{
                margin: 0px;
                text-transform: uppercase;
            }
        }

        .list__arrow{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 20px;
            height: 40px;
            width: 40px;
            border-radius: 30px;
            cursor: pointer;
            &:hover{
                cursor: pointer;
                background-color: #3c404310;
            }
        }
    }
    
    
}
@mixin navbar {
    border: 1px solid rgba(0,0,0,0.12);
    width: 50%;
    height: 100%;
}

.body-translate-container{
    display: flex;
    flex-direction: column;
    width: 1280px;
    margin-top: -31px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    .translate-header{
        display: flex;
        height: 48px;
        .translate__left-navbar{
            @include navbar;
            @include list;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 0;
            border: none;
        }
        .list__change-language{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            padding: 0px;
            border-radius: 500px;
            color: #5f6368;
            cursor: pointer;
            &:hover{
                background-color: #3c404310;
            }
        }
        .translate__right-navbar{
            @include navbar;
            @include list;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 0;
            border: none;
        }
    }
    .translate-body{
        display: flex;
        border-top: 1px solid rgba(0,0,0,0.12);
        min-height: 172px;
        width: auto;
        margin: 0px;
        padding: 0px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        &.inactive {
            display: none;
        }
        .translate__text-to-translate{
            border-right: 1px solid rgba(0,0,0,0.12);
            width: 50%;
            border-top: none;
            display: flex;
            justify-content: center;
            .translate__textarea{
                font-size: 24px;
                height: 87%;
                width: 95%;
                padding: 0px;
                padding-left: 30px;
                padding-top: 20px;
                margin: 0px;
                resize: none;
                border: none;
                margin-top: 2px;
                border-bottom-left-radius: 8px;
                overflow: hidden;
                min-height: 50px;
                color: #3c4043;
                font-family: "Kumbh Sans";
                &:focus{
                    outline: none;
                }
            }
            .translate__fa-times{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 48px;
                width: 48px;
                font-size: 18px;
                margin-top: 10px;
                margin-right: 10px;
                border-radius: 200px;
                color: #5f6368;
                cursor: pointer;
                &:hover{
                    background-color: #F4F4F4;
                }
            }
            
        }
        .translate__traduction{
            // border: 1px solid rgba(0,0,0,0.12);
            width: 50%;
            .translate__text-result{
                padding: 20px 58px 20px 24px;
                font-size: 24px;
                color: #5f6368;
                margin: 0px;
                word-break: break-all;
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
    .body-translate-container{
        width: 100%;
        margin-top: 0;
        .translate-header{
            border-radius: 0;
            .translate__left-navbar{
                border-radius: 0;
                border: none;
                .translate-list{
                    margin-left: 0;
                    justify-content: center;
                    .list__item--source {
                        display: none;
                        &:nth-child(1) {
                            display: flex;
                        }
                    }
                    // .list__item--target {
                    //     border: none;
                    // }
                    // .list__item--extra{
                    //     display: none
                    // }
                    .list__arrow {
                        display: none
                    }
                }
            }
            .translate__right-navbar{
                border-radius: 0;
                border: none;
                .translate-list{
                    margin-left: 0;
                    justify-content: center;
                    // .list__item--source {
                    //     display: none;
                    // }
                    .list__item--target {
                        display: none;
                        &:nth-child(1) {
                            display: flex;
                        }
                    }
                    // .list__item--extra{
                    //     display: none
                    // }
                    .list__arrow {
                        display: none
                    }
                }
                .list__change-language{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .translate-body{
            flex-direction: column;
            height: auto;
            border-radius: 0;
            // border: none;
            .translate__text-to-translate{
                width: 99%;
                min-height: 150px;
                border-radius: 0;
                border: none;
                .translate__textarea{
                    border-radius: 0;
                    border: none;
                    width: 100%;
                    height: auto;
                    padding:20px;
                    box-sizing: border-box;
                    
                }
            }
            .translate__traduction{
                display: none;
                width: auto;
                margin-top: 10px;
                &.active {
                    display: flex;
                    background-color: #1a73e8;
                }
                .translate__text-result{
                    color: white;
                    word-break: break-all;
                }
            }
        }
    }
}