@mixin list {
    .translate-list{
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0px;
        margin: 0px;
        margin-left: 35px;
        height: 100%;
        font-size: 14px;
        .list__item--target{
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 3px solid #1a73e8;
            margin-top: 0;
            height: 100%;
            padding: 0px 20px 0px 20px;
            transition: opacity 150ms linear;
            &:hover{
                cursor: pointer;
                background-color: #1a73e80a;
            }
            &.active{
                border-bottom: 3px solid #f0f0f0;
                .list__text{
                    color: black;
                }
            }
            .list__text{
                color: #1a73e8;
                margin: 0px;
                text-transform: uppercase;
            } 
        }
        .list__item--source{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 0px 20px 0px 20px;
            border-bottom: 3px solid #f0f0f0;
            &:hover{
                cursor: pointer;
                background-color: #3c404310;
            }
            &.active{
                border-bottom: 3px solid #1a73e8;
                .list__text{
                    color: #1a73e8;
                } 
            }
            .list__text{
                margin: 0px;
                text-transform: uppercase;
            }
        }
        .list__arrow{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 20px;
            height: 40px;
            width: 40px;
            border-radius: 30px;
            cursor: pointer;
            &:hover{
                cursor: pointer;
                background-color: #3c404310;
            }
        }
    }
    
    
}
@mixin navbar {
    border: 1px solid rgba(0,0,0,0.12);
    width: 50%;
    height: 100%;
}

.body-translate-container{
    display: flex;
    flex-direction: column;
    width: 1280px;
    margin-top: -30px;
    border-radius: 8px;
    border-top-left-radius: 0;
    background-color: white;
    .translate-header{
        display: flex;
        height: 50px;
        border: 1px solid rgba(0,0,0,0.12);
        border-radius: 8px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        .translate__left-navbar{
            @include navbar;
            @include list;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 0;
            border-right: none;
        }
        .translate__right-navbar{
            @include navbar;
            @include list;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 0;
            border-left: none;
            .list__change-language{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                padding: 0px;
                margin-left: -53px;
                border-radius: 500px;
                color: #5f6368;
                cursor: pointer;
                &:hover{
                    background-color: #3c404310;
                }
            }
        }
    }
    .translate-body{
        display: flex;
        border: 1px solid rgba(0,0,0,0.12);
        height: 175px;
        margin: 0px;
        padding: 0px;
        border-radius: 8px;
        &.inactive {
            display: none;
        }
        .translate__text-to-translate{
            border: 1px solid rgba(0,0,0,0.12);
            width: 50%;
            border-top: none;
            
            .translate__textarea{
                font-size: 24px;
                color: #3c4043;
                height: 87%;
                width: 95%;
                padding: 0px;
                padding-left: 30px;
                padding-top: 20px;
                margin: 0px;
                resize: none;
                border: 1px solid rgba(0,0,0,0.12);
                border-right: none;
                border-left: none;
                border-top: none;
                margin-top: 2px;
                &:focus{
                    outline: none;
                }
            }
        }
        .translate__traduction{
            border: 1px solid rgba(0,0,0,0.12);
            width: 50%;
            .translate__text-result{
                padding: 20px 58px 20px 24px;
                font-size: 24px;
                color: #5f6368;
                margin: 0px;
            }
        }
    }
}
