body {
  font-family: "Kumbh Sans";
  margin: 0px;
}

.app__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-left: 20px;
}

.app__header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app__header .header-container .header__title {
  color: #5f6368;
  font-size: 18px;
  font-weight: normal;
  display: inline-block;
  margin-left: 5px;
}

.app__header .header-container .header__logo {
  height: 24px;
  width: 74px;
  display: inline-block;
}

.app__header .header-toggle-theme-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app__header .header-toggle-theme-container .header__button {
  background-color: black;
  margin-right: 20px;
  border-radius: 3000px;
  width: 25px;
  height: 25px;
}

.body-top {
  height: 95px;
  background-color: rgba(128, 128, 128, 0.048);
}

.body-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 95px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-button-container .fas {
  font-size: 25px;
}

.body-button-container .body-save-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 40px;
}

.body-button-container .body-save-button-container .body__save-button {
  height: 75px;
  width: 75px;
  border-radius: 3000px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.body-button-container .body-history-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body-button-container .body-history-button-container .body__history-button {
  height: 75px;
  width: 75px;
  border-radius: 3000px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-translate-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 225px;
  width: 1280px;
}

.body-translate-container .translate-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  border: 1px solid #433;
  width: 100%;
}

.body-translate-container .translate-header .translate__left-navbar {
  border: 1px solid #433;
  width: 50%;
  height: 100%;
}

.body-translate-container .translate-header .translate__left-navbar .translate-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
}

.body-translate-container .translate-header .translate__left-navbar .list__item {
  margin-left: 35px;
}

.body-translate-container .translate-header .translate__left-navbar .list__item .list__text {
  margin: 0px;
}

.body-translate-container .translate-header .translate__right-navbar {
  border: 1px solid #433;
  width: 50%;
  height: 100%;
}

.body-translate-container .translate-header .translate__right-navbar .translate-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
}

.body-translate-container .translate-header .translate__right-navbar .list__item {
  margin-left: 35px;
}

.body-translate-container .translate-header .translate__right-navbar .list__item .list__text {
  margin: 0px;
}

.body-translate-container .translate-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #433;
  width: 100%;
  height: 175px;
}

.body-translate-container .translate-body .translate__text-to-translate {
  border: 1px solid #433;
  width: 50%;
}

.body-translate-container .translate-body .translate__text-to-translate .translate__input {
  font-size: 30px;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  resize: none;
}

.body-translate-container .translate-body .translate__traduction {
  border: 1px solid #433;
  width: 50%;
}
/*# sourceMappingURL=index.css.map */