html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
}

html*, html *::before, html *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Kumbh Sans";
  margin: 0px;
  height: 100%;
  width: 100%;
}

body #root {
  height: 100%;
}

body .app-container {
  height: 100%;
  overflow-y: scroll;
}

.search-language-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 57px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: none;
}

.search-language-container .search-language-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 80%;
  border-radius: 3000px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #5f6368;
}

.search-language-container .search-language-icon:hover {
  background-color: #F4F4F4;
}

.search-language-container .search-language-container__input {
  height: 60%;
  width: 100%;
  border: none;
  font-size: 16px;
  outline: none;
  color: rgba(0, 0, 0, 0.87);
  margin-left: 10px;
}

.search-language-container .translate__fa-times {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  width: 48px;
  font-size: 18px;
  border-radius: 200px;
  color: #5f6368;
  cursor: pointer;
}

.search-language-container .translate__fa-times:hover {
  background-color: #F4F4F4;
}

.language-results {
  display: none;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding-left: 20px;
  padding-top: 5px;
}

.language-results.active {
  display: inline-block;
}

.language-results .language-results-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 685px;
  overflow-y: auto;
}

.language-results .language-results-list .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  height: 32px;
  padding-left: 30px;
  color: rgba(0, 0, 0, 0.87);
}

.language-results .language-results-list .list__item:hover {
  background-color: #f5f5f5;
}

.language-results .language-results-list .list__item .list__language-name {
  font-size: 14px;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  .language-results {
    padding-left: 0px;
  }
}

.language-list-container {
  z-index: 300;
  padding: 0px;
  margin: 0px;
  display: none;
}

.language-list-container.active {
  display: inline-block;
}

.language-list-container .language-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (210px)[6];
      grid-template-columns: repeat(6, 210px);
  grid-auto-rows: 32px;
  padding: 0px;
  margin: 0px;
  width: 1279px;
  position: absolute;
  background-color: white;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 5px 0;
}

.language-list-container .language-list .language-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 32px;
  margin: 0px 0px 1px 20px;
  font-size: 14px;
  color: #202020;
}

.language-list-container .language-list .language-list__item:hover {
  background-color: rgba(0, 0, 0, 0.055);
  cursor: pointer;
}

.language-list-container .language-list .language-list__item .fa-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
}

.language-list-container .language-list .language-list__item .fa-history {
  display: none;
}

.language-list-container .language-list .language-list__item--target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 32px;
  margin: 0px 0px 1px 20px;
  font-size: 14px;
  color: #185abc;
  background-color: #e8f0fe;
}

.language-list-container .language-list .language-list__item--target .fa-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
}

.language-list-container .language-list .language-list__item--target .fa-history {
  display: none;
}

.language-list-container .language-list .language-list__item--history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 32px;
  margin: 0px 0px 1px 20px;
  font-size: 14px;
  color: #202020;
}

.language-list-container .language-list .language-list__item--history:hover {
  background-color: rgba(0, 0, 0, 0.055);
  cursor: pointer;
}

.language-list-container .language-list .language-list__item--history .fa-history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
}

.language-list-container .language-list .language-list__item--history .fa-check {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  .language-list-container .language-list {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    width: 100%;
  }
  .language-list-container .language-list .language-list__item {
    width: 100%;
    margin: 0;
    padding: 0px 0px 1px 20px;
  }
  .language-list-container .language-list .language-list__item--target {
    width: 100%;
    margin: 0;
    padding: 0px 0px 1px 20px;
  }
  .language-list-container .language-list .language-list__item--history {
    width: 100%;
    margin: 0;
    padding: 0px 0px 1px 20px;
  }
}

.body-translate-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1280px;
  margin-top: -31px;
  border-radius: 8px;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  background-color: white;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.body-translate-container .translate-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
}

.body-translate-container .translate-header .translate__left-navbar {
  border: 1px solid rgba(0, 0, 0, 0.12);
  width: 50%;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 0;
  border: none;
}

.body-translate-container .translate-header .translate__left-navbar .translate-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-size: 14px;
  color: #5f6368;
  letter-spacing: -.0178571429em;
}

.body-translate-container .translate-header .translate__left-navbar .translate-list .list__item--target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #ffffff;
  margin-top: 0;
  height: 100%;
  padding: 0px 20px 0px 15px;
  -webkit-transition: opacity 150ms linear;
  transition: opacity 150ms linear;
}

.body-translate-container .translate-header .translate__left-navbar .translate-list .list__item--target:hover {
  cursor: pointer;
  background-color: #1a73e80a;
}

.body-translate-container .translate-header .translate__left-navbar .translate-list .list__item--target.active {
  border-bottom: 3px solid #1a73e8;
  color: #1a73e8;
}

.body-translate-container .translate-header .translate__left-navbar .translate-list .list__item--target .list__text {
  margin: 0px;
  text-transform: uppercase;
}

.body-translate-container .translate-header .translate__left-navbar .translate-list .list__item--source {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0px 20px 0px 15px;
  border-bottom: 3px solid #ffffff;
}

.body-translate-container .translate-header .translate__left-navbar .translate-list .list__item--source:hover {
  cursor: pointer;
  background-color: #3c404310;
}

.body-translate-container .translate-header .translate__left-navbar .translate-list .list__item--source.active {
  border-bottom: 3px solid #1a73e8;
}

.body-translate-container .translate-header .translate__left-navbar .translate-list .list__item--source.active .list__text {
  color: #1a73e8;
}

.body-translate-container .translate-header .translate__left-navbar .translate-list .list__item--source .list__text {
  margin: 0px;
  text-transform: uppercase;
}

.body-translate-container .translate-header .translate__left-navbar .translate-list .list__item--extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0px 20px 0px 15px;
  border-bottom: 3px solid #ffffff;
}

.body-translate-container .translate-header .translate__left-navbar .translate-list .list__item--extra:hover {
  cursor: pointer;
  background-color: #3c404310;
}

.body-translate-container .translate-header .translate__left-navbar .translate-list .list__item--extra.active {
  border-bottom: 3px solid #1a73e8;
}

.body-translate-container .translate-header .translate__left-navbar .translate-list .list__item--extra.active .list__text {
  color: #1a73e8;
}

.body-translate-container .translate-header .translate__left-navbar .translate-list .list__item--extra .list__text {
  margin: 0px;
  text-transform: uppercase;
}

.body-translate-container .translate-header .translate__left-navbar .translate-list .list__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  height: 40px;
  width: 40px;
  border-radius: 30px;
  cursor: pointer;
}

.body-translate-container .translate-header .translate__left-navbar .translate-list .list__arrow:hover {
  cursor: pointer;
  background-color: #3c404310;
}

.body-translate-container .translate-header .list__change-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0px;
  border-radius: 500px;
  color: #5f6368;
  cursor: pointer;
}

.body-translate-container .translate-header .list__change-language:hover {
  background-color: #3c404310;
}

.body-translate-container .translate-header .translate__right-navbar {
  border: 1px solid rgba(0, 0, 0, 0.12);
  width: 50%;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 0;
  border: none;
}

.body-translate-container .translate-header .translate__right-navbar .translate-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-size: 14px;
  color: #5f6368;
  letter-spacing: -.0178571429em;
}

.body-translate-container .translate-header .translate__right-navbar .translate-list .list__item--target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #ffffff;
  margin-top: 0;
  height: 100%;
  padding: 0px 20px 0px 15px;
  -webkit-transition: opacity 150ms linear;
  transition: opacity 150ms linear;
}

.body-translate-container .translate-header .translate__right-navbar .translate-list .list__item--target:hover {
  cursor: pointer;
  background-color: #1a73e80a;
}

.body-translate-container .translate-header .translate__right-navbar .translate-list .list__item--target.active {
  border-bottom: 3px solid #1a73e8;
  color: #1a73e8;
}

.body-translate-container .translate-header .translate__right-navbar .translate-list .list__item--target .list__text {
  margin: 0px;
  text-transform: uppercase;
}

.body-translate-container .translate-header .translate__right-navbar .translate-list .list__item--source {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0px 20px 0px 15px;
  border-bottom: 3px solid #ffffff;
}

.body-translate-container .translate-header .translate__right-navbar .translate-list .list__item--source:hover {
  cursor: pointer;
  background-color: #3c404310;
}

.body-translate-container .translate-header .translate__right-navbar .translate-list .list__item--source.active {
  border-bottom: 3px solid #1a73e8;
}

.body-translate-container .translate-header .translate__right-navbar .translate-list .list__item--source.active .list__text {
  color: #1a73e8;
}

.body-translate-container .translate-header .translate__right-navbar .translate-list .list__item--source .list__text {
  margin: 0px;
  text-transform: uppercase;
}

.body-translate-container .translate-header .translate__right-navbar .translate-list .list__item--extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0px 20px 0px 15px;
  border-bottom: 3px solid #ffffff;
}

.body-translate-container .translate-header .translate__right-navbar .translate-list .list__item--extra:hover {
  cursor: pointer;
  background-color: #3c404310;
}

.body-translate-container .translate-header .translate__right-navbar .translate-list .list__item--extra.active {
  border-bottom: 3px solid #1a73e8;
}

.body-translate-container .translate-header .translate__right-navbar .translate-list .list__item--extra.active .list__text {
  color: #1a73e8;
}

.body-translate-container .translate-header .translate__right-navbar .translate-list .list__item--extra .list__text {
  margin: 0px;
  text-transform: uppercase;
}

.body-translate-container .translate-header .translate__right-navbar .translate-list .list__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  height: 40px;
  width: 40px;
  border-radius: 30px;
  cursor: pointer;
}

.body-translate-container .translate-header .translate__right-navbar .translate-list .list__arrow:hover {
  cursor: pointer;
  background-color: #3c404310;
}

.body-translate-container .translate-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  min-height: 172px;
  width: auto;
  margin: 0px;
  padding: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.body-translate-container .translate-body.inactive {
  display: none;
}

.body-translate-container .translate-body .translate__text-to-translate {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  width: 50%;
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-translate-container .translate-body .translate__text-to-translate .translate__textarea {
  font-size: 24px;
  height: 87%;
  width: 95%;
  padding: 0px;
  padding-left: 30px;
  padding-top: 20px;
  margin: 0px;
  resize: none;
  border: none;
  margin-top: 2px;
  border-bottom-left-radius: 8px;
  overflow: hidden;
  min-height: 50px;
  color: #3c4043;
  font-family: "Kumbh Sans";
}

.body-translate-container .translate-body .translate__text-to-translate .translate__textarea:focus {
  outline: none;
}

.body-translate-container .translate-body .translate__text-to-translate .translate__fa-times {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  width: 48px;
  font-size: 18px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 200px;
  color: #5f6368;
  cursor: pointer;
}

.body-translate-container .translate-body .translate__text-to-translate .translate__fa-times:hover {
  background-color: #F4F4F4;
}

.body-translate-container .translate-body .translate__traduction {
  width: 50%;
}

.body-translate-container .translate-body .translate__traduction .translate__text-result {
  padding: 20px 58px 20px 24px;
  font-size: 24px;
  color: #5f6368;
  margin: 0px;
  word-break: break-all;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  .body-translate-container {
    width: 100%;
    margin-top: 0;
  }
  .body-translate-container .translate-header {
    border-radius: 0;
  }
  .body-translate-container .translate-header .translate__left-navbar {
    border-radius: 0;
    border: none;
  }
  .body-translate-container .translate-header .translate__left-navbar .translate-list {
    margin-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .body-translate-container .translate-header .translate__left-navbar .translate-list .list__item--source {
    display: none;
  }
  .body-translate-container .translate-header .translate__left-navbar .translate-list .list__item--source:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .body-translate-container .translate-header .translate__left-navbar .translate-list .list__item--source.active {
    border-bottom: 3px solid white;
  }
  .body-translate-container .translate-header .translate__left-navbar .translate-list .list__arrow {
    display: none;
  }
  .body-translate-container .translate-header .translate__right-navbar {
    border-radius: 0;
    border: none;
  }
  .body-translate-container .translate-header .translate__right-navbar .translate-list {
    margin-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .body-translate-container .translate-header .translate__right-navbar .translate-list .list__item--target {
    display: none;
  }
  .body-translate-container .translate-header .translate__right-navbar .translate-list .list__item--target:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .body-translate-container .translate-header .translate__right-navbar .translate-list .list__item--target.active {
    border-bottom: 3px solid white;
  }
  .body-translate-container .translate-header .translate__right-navbar .translate-list .list__arrow {
    display: none;
  }
  .body-translate-container .translate-header .translate__right-navbar .list__change-language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .body-translate-container .translate-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    border-radius: 0;
  }
  .body-translate-container .translate-body .translate__text-to-translate {
    width: 99%;
    min-height: 150px;
    border-radius: 0;
    border: none;
  }
  .body-translate-container .translate-body .translate__text-to-translate .translate__textarea {
    border-radius: 0;
    border: none;
    width: 100%;
    height: auto;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .body-translate-container .translate-body .translate__traduction {
    display: none;
    width: auto;
    margin-top: 10px;
  }
  .body-translate-container .translate-body .translate__traduction.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #1a73e8;
  }
  .body-translate-container .translate-body .translate__traduction .translate__text-result {
    color: white;
    word-break: break-all;
  }
}

.app__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-left: 20px;
  height: 64px;
}

.app__header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app__header .header-container .header__title {
  color: #5f6368;
  font-size: 22px;
  font-weight: normal;
  display: inline-block;
  margin-left: 5px;
  letter-spacing: -.5px;
}

.app__header .header-container .header__logo {
  height: 24px;
  width: 74px;
  display: inline-block;
}

.app__header .header-toggle-theme-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app__header .header-toggle-theme-container .header__button {
  background-color: black;
  margin-right: 20px;
  border-radius: 3000px;
  width: 25px;
  height: 25px;
}

.body-top {
  height: 97px;
  background-color: rgba(128, 128, 128, 0.048);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.body-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 95px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-button-container .fas {
  font-size: 25px;
}

.body-button-container .body-save-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 40px;
}

.body-button-container .body-save-button-container .body__save-button {
  height: 75px;
  width: 75px;
  border-radius: 3000px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  cursor: pointer;
  background-color: white;
  color: #757575;
}

.body-button-container .body-save-button-container .body__save-span {
  margin-top: 15px;
  color: #757575;
}

.body-button-container .body-history-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body-button-container .body-history-button-container .body__history-button {
  height: 75px;
  width: 75px;
  border-radius: 3000px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  cursor: pointer;
  background-color: white;
  color: #757575;
}

.body-button-container .body-history-button-container .body__history-span {
  margin-top: 15px;
  color: #757575;
}

.body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  .body-top {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */